/* Universal Styling */
body {
  background-color: rgba(71, 125, 73, 1);
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  height: 10%;
  justify-content: right;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

header > ul > * {
  font-size: 1.5em;
}

header > #settings {
  font-weight: bold;
}
